{% extends 'firstapp/base.html' %}
{% load static %}
{% load humanize %} 

{% block content %}

<div class="container">
    <div class="text-color-black">
      <h3>รายการสั่งซื้อทั้งหมดของคุณ</h3>
    </div>
    <div style="padding: 5px"></div>
    <table class="table">
        <tr style="font-size: 14px;">
          <th>รหัสคำสั่งซื้อ</th>
          <th>เวลา</th>
          <th>เลขพัสดุขนส่ง</th>
          <th>ค่าขนส่ง</th>
          <th>ยอดรวม</th>
          <th>ยอดรวมทั้งหมด</th>
          <th>สถานะ</th>
        </tr>
        
        {% for co in cart_order %}
        <tr style="font-size: 14px;">
          <td><a href="{% url 'my-order' co.order_id %}" style="font-size: 14px;">{{ co.order_id }}</a></td>
          <td>{{ co.stamp }}</td>
          <td>
            {% if co.tracking_number != None %}
                {{ co.tracking_number }}
            {% endif %}
          </td>
          <td>
            {{ co.shipping_cost|intcomma }}
          </td>
          <td>{{ co.total|intcomma }}</td>
          <td>
            {{ co.total|add:co.shipping_cost|intcomma }}
          </td>
          <td>
           {% if co.paid %}
            <i class="fa fa-check-square-o" style="font-size:14px;color:#ff0000;"> จ่ายแล้ว </i>
            {% else %}
            <a href="{% url 'upload-slip-order' co.order_id %}"style="font-size:14px;color:#2a8df4;" class="button-darken-blue">
              อัปโหลดใบบิล
            </a> 
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table>
    <div style="padding: 5px"></div>
    
    <div style="padding: 20px"></div>
  </div>

{% endblock content %}